/* 文本颜色类 */
.base-text-black { color: #333333; }
.base-text-white { color: #FFFFFF; }
.base-text-by-black { color: #121214; }
.base-text-gray { color: #B0B7C1; }
.base-text-light-gray { color: #D3D3D3; }
.base-text-blue { color: #2752e7; }
.base-text-light-blue { color: #1777FF; }
.base-text-green { color: #00B200; }
.base-text-light-green { color: #0FB668; }
.base-text-red { color: #FF3E47; }
.base-text-yellow { color: #FFFF00; }
.base-text-orange { color: #FFA500; }